*{
    /* margin: 0;
    padding: 0; */
}
/* semibold font  */
/* .semibold-font{
    font-weight: 400;
    opacity: 0.5;
} */

/* google fonts css link */

.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;


}

/* Raleway fonts */


.raleway-fonts {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}



.raleway-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* this is primary color  */
.primary-color{
    color: #4E47FF;
}

/* this is nav logo css  */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 90px ;
    align-items: center;
   
    
    
}
.logo-h4{
    font-weight: bold;
    font-size: 34px;
}
.nav-logo{
    /* padding: 10px; */
    
}
/* this is button section */
.btn-1{
    background-color: #4E47FF;
    color: #fff;
    border: none;
    padding:12px  36px;
    border-radius: 8px;
    font-size: 20px;
}

/* this is banner section css */
.banner{
    margin: 20px auto;
    text-align: center;
    width: 50%;

}
.banner-h2{
    font-size: 43px;
}


.header{
    
    height: 450px;
    background-image: url(../img/Hero-bg.png);
    background-repeat: no-repeat;
}


/* this is action-section */
.action-section{
    display: flex;
    justify-content: space-between;
    margin: 80px 90px;
}

.action-img{
    border-radius: 67px;
}

.action-content p{
    line-height: 30px;
    width: 517px;
    font-weight: 400;
    opacity: 0.5;
    font-size: 24px;
    
    
}
.action-content h1{
    font-weight: bold;
    font-size: 42px;
}

/* this is user section  */
.productive{
    background-color: #e5e7ff;
    margin: 50px 90px ;
    border-radius: 10px;
    height: 306px;
    text-align: center;
    /* #e5e7ff */
    
}
.productive-h1{
    font-size: 25px;
    color: #252432;
    padding: 38px;
}


.users p{
    opacity: 0.4;
}
.users{
    display: flex;
    justify-content: space-around;



}

/* user div padding */
.user-div-padiing h1{
    font-size: 80px;
    margin-top: -15px;
    
}
.user-div-padiing p{
    font-size: 20px;
    margin-top: -84px;
}

